.App{
    padding-left: 10px;
}
.blog-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid green;
}
.blog-preview:hover{
box-shadow: 1px 3px 5px lightblue;
}
.blog-preview h2{
    font-size: 20px;
    color: red;
    margin-bottom: 8px;
}
.content h1{
    color: lightblue;
    text-align: left;
    margin-left: 45px;
    padding-right: 150px;
}
.content{
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.content a{
    padding: 10px;
    margin-left: auto;
    color: red;
    text-decoration: none;
}

.blog-preview a{
    text-decoration: none;
}
.blog-details{
   padding-left: 50px;
}
.blog-details h2{
    color: blue;
    font-size: x-large;
}
.blog-details button {
    background: red;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
  }
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  .create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .notfound p{
    color: red;
  }
  .notfound a{
    text-decoration: none;
  }
  .notfound{
    padding-left: 100px;
    }